# Copyright 2026 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial
# Unified patch context retains the upstream Go indentation and empty lines.
src/go-controller/dev-identity/dex-core-dev.patch -whitespace
